@font-face {
    font-family: 'Iransans';
    src: url(./assets/Sans\ a4fran3.ttf) format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Iransans;
    direction: rtl;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.global-header {
    position: relative;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 999;
    box-shadow: 0 0.125rem 0.25rem rgb(0, 0, 0, 0.075);
    transition: transform 0.5s ease-in-out;
}

.header-row {
    display: flex;
    height: 80px;
    align-items: center;
    padding: 0;
    max-width: 90%;
    margin: 0 auto;
    position: relative;
}

.global-logo img {
    width: 150px;
}

.nav-menu {
    display: inline-block;
    vertical-align: top;
    margin-top: 22px;
    margin-left: 50px;
}

ul {
    font-size: 13px;
    line-height: 21px;
}

li {
    display: inline-block;
    margin-right: 28px;
    padding-bottom: 2px;
    position: relative;
}

li>a {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #252222;
    font-weight: bold;
}

.nav-menu ul li :first-child {
    margin-right: 5px;
}

.header-button-link {
    position: absolute;
    left: 0;
    padding: 10px;
    color: #ffffff;
    box-shadow: 0 0.125rem 0.25rem rgb(0, 0, 0, 0.75);
    border-radius: 5px;
    background-color: #ffb606;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: 0;
}

.header-button-link span {
    margin-right: 10px;
}

.highlight {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
    background-color: #ffb606;
    height: 2PX;
    transition: all 0.3s;
}

.sub-nav {
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 10px 8px 0 rgb(0, 0, 0, 0.2);
    display: none;
    position: absolute;
    padding: 16px;
    top: 100%;
    width: 628px;
}

.sub-nav-col {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 50%;
}

.left {
    margin-right: 4px;
}

.right {
    margin-left: 4px;
}

.sub-nav-box {
    background: #ffffff;
    border-radius: 3px;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    margin: 4px auto;
    min-height: 100px;
    padding: 24px 14px 24px 96px;
    position: relative;
    text-decoration: none;
    transition: 0.2s all ease-in-out;
}

.icon-background {
    height: 64px;
    width: 64px;
    background: #252225;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 14px;
}


.icon {
    color: white;
    font-size: 24px;
}

.sub-nav-box h4 {
    font-size: 15px;
    letter-spacing: 0.9px;
    line-height: 16px;
    margin: 0 0 0.5rem;
    padding: 0;
    text-transform: uppercase;
    color: #292d34;
    font-weight: bold;
}

.sub-nav-box p {
    color: #292d34;
    line-height: 16px;
    font-size: 16px;

}

.sub-nav::after {
    bottom: 100%;
    left: 120px;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    border-color: rgb(252, 252, 252, 0);
    border-bottom-color: #f7f7f7;
    border-width: 15px;
    border-radius: 2px;
    right: 160px;

}


#icon-1 {
    background: #7e3ef3;
}

#icon-2 {
    background: #fe4242;
}

#icon-3 {
    background: #2ee1f9;
}

#icon-4 {
    background: #2ef968;
}

/* unit 97 create and show popup*/

.popup {

    width: 400px;
    height: 400px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.3);
    display: none;
    z-index: 1100;
    transition: all 0.3s linear;
    border-radius: 5px;
}

.popup .headerr .fa-times {
    font-size: 30px;
}

/*---------------------------------------------------------------------------------------*/
.headerr {
    background-color: #f7f7f7;
    border: 1px solid #f0f0f0;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

/*-----------------------------------------------------------------------------------------*/
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
    background: rgb(108, 117, 125, 0.6);
    transform: translate(0, 0);
    transition: all 0.5s;
}


.overlay.active {
    opacity: 1;
    visibility: visible;
}

/*--------------------------------------------------------------------------------------------*/

.popup .form1 {
    padding: 30px 40px;
}


.popup .form1 .form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.popup .form1 .form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    direction: ltr;
    padding-left: 33px;
}

.popup .form1 .form-control.success input {
    border-color: #2ecc71;
}

.popup .form1 .form-control.error input {
    border-color: #e74c3c;
}

.popup .form1 .form-control i {
    position: absolute;
    top: 42px;
    left: 10px;
    visibility: hidden;
}

.popup .form1 .form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.popup .form1 .form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.popup .form1 .form-control small {
    visibility: hidden;
    position: absolute;
    right: 0;
    bottom: 5px;

}

.popup .form1 .form-control.error small {
    color: #e74c3c;
    visibility: visible;
    top: 75px;
}

.popup .form1 .form-control button {
    background-color: #ffb606;
    outline: none;
    border: none;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
}

/*------------------ unit-104 Reasponsive Menu-------------------------------*/
.menu-icon {
    position: absolute;
    left: 0;
    display: none;
}

.menu-icon i {
    font-size: 36px;
}

.menu-icon .fa-times {
    display: none;
    font-size: 36px;
}

/*unit-105*/
#nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    padding: 2rem;
    background-color: #212529;
    width: 300px;
    transform: translate(-100%);
    transition: transform 0.5s ease-in-out;
}

#nav.active {
    transform: translateX(0);
}

.container {
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

#main-pic {
    width: 100%;
}

/*unit-105*/

@media screen and (max-width:960px) {
    .nav-menu {
        display: none;
    }

    .header-button-link {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}

/*--------------------- unit-104 and unit-105 Finish--------------------------------*/



/* unit-106 */